[submodule "aspace-doris-public"]
	path = plugins/aspace-doris-public
	url = https://github.com/nycrecords/aspace-doris-public.git
	branch = main
[submodule "aspace-oauth"]
	path = plugins/aspace-oauth
	url = https://github.com/nycrecords/aspace-oauth.git
	branch = main