h1 {
    line-height: .5;
}
h1 a {
    color: #000;
}
h1 a:hover {
    text-decoration: none;
    color: #000;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover {
    text-decoration: none !important;
    background-color: #684499 !important;
    color: white !important;
}
table a {
    color: #181A7B;
}

ol.breadcrumb {
    padding-left: 2px;
}
ol.breadcrumb li {
    display: inline;
}
.names span {
    margin-right: 5px;
    padding-left: 2px;
}
#azindex {
    float: left;
    margin: 5px 0 5px 5px;
    padding: 0px 5px 25px 5px;
}

#index li {
    float: left;
    height: 2em;
    list-style-type: none;
    padding: 0;
    width: 2em;
}

#index a:link, #index a:visited {
    display: block;
    height: 2em;
    padding: 0.75em 0 0 0;
    text-align: center;
    width: 3em;
}
.input-group #startyear, #endyear {
    width: 120px !important;
    flex: none;
    display: inline-block;
}
.input-group .advanced-search-year {
    width: 120px !important;
    flex: none;
    display: inline-block;
}
ul {
    margin-left: -15px;
}
ul a {
    color: #181A7B;
}

.subgroups-list {
    list-style: none;
}
.collection-guides {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.collection-guides-heading {
    line-height: .5;
}
.card-text-bold {
    font-weight: 600;
}
#content a {
    color: #181A7B;
}
.selected-index {
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}
.advanced-search-link {
    padding-left: 5px;
    color: #181A7B;
}
.selected-index{
    font-weight:bold;
    text-decoration:underline;
    text-align:left;
}
.below-the-fold{
    display:none;
}

#collection_header :hover{
    cursor: pointer;
    font-weight:900;
}
.hidden {
    display: none !important;
}
.description {
    font-size: 12pt;
}
tr.largetree-node {
    font-size: 10pt;
}
tr.waypoint {
    height:auto !important;
}
.sidebar li {
    list-style: none;
    font-size: 10pt;
    padding: 3px;
}
.sidebar {
    padding-left: 0px;
}
.white-link {
    color: #fff !important;
}
.p-7 {
    padding: 7rem !important;
}

.pt-7,
.py-7 {
    padding-top: 7rem !important;
}

.pr-7,
.px-7 {
    padding-right: 7rem !important;
}

.pb-7,
.py-7 {
    padding-bottom: 7rem !important;
}

.pl-7,
.px-7 {
    padding-left: 7rem !important;
}
.infinite-record-container {
    transform: none !important;
}
.unstyled-list {
    list-style: none;
    display: contents;
}